@import 'variables';

#about {
    width: 90%;
    display: inline-block;
    padding: 2em;
    font-size: $medium_font;
}

.title {
    span {
        &:before {
            width: 29px;
            height: .27em;
        }
    }
}
@media screen and (max-width: 768px), (max-device-width: 768px) {
    #about {
        font-size: $big_font;
    }
}