@import 'functions';
@import 'variables';

html {
	display: table;
	font: $normal_font $font;
	width: 100%;
	height: 100%;
}

body {
	display: table-row;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow-x: hidden;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: mandatory;
	/* older spec implementation */
	scroll-snap-destination: 0% 100%;
	scroll-snap-points-x: repeat(100%);
}

a {
	text-decoration: none;
}

* {
	max-width: 100%;
	max-height: 100%;
}

#wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
//	overflow-x: auto;
	height: 90%;
}

.row {
	margin-top: 2*$border_width;
	position: relative;
	margin-bottom: 2*$border_width;
}

#header {
	display: inline-block;
	font-size: $title_font;
	font-weight: bold;
	letter-spacing: -0.1px;
	line-height: 1;
	@include animation(blur-in 2s 1);
}

.drip {
	color: $border_color_start;
	text-shadow: 1px 1px 0.5px black;
}

#nav {
	margin: 0 auto;
	width: $width;
	height: auto;
}

#nav:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* ratio of 1:1*/
}

#content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#img-middle {
	width: calc(100% - #{2 * $border_width});
	height: calc(100% - #{2 * $border_width});
	border: $border_width solid $border_color_start;
	@include border_radius();
}

.img-pop-up {
	@include animation(pop-up 2s 1);
}

#img-bottom {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0; 
	padding: 0;
	margin: 0;
	@include border_radius();
	list-style: none;
}

#img-bottom i {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: $icon_font;
	margin: -$icon_font/2;
	@include border_radius();
	cursor: pointer;
}

.fa { 
	color: black !important;
}

.blur-in {
	@include animation(blur-in 2s 1);
}

#more-info {
	display: inline-block;
	color: black;
	text-decoration: none;
	font-size: $normal_font;
	margin-bottom: 0;
}

#arrow {
	margin-top: 0;
	display: block;
	font-size: $title_font;
	color: $border_color_start;
	cursor: pointer;
}

#arrow:hover { 
	color: $border_color_end;
}

// keyframes
@keyframes pop-up {
	0% {
		transform: translateY(100%);
	}
	35% {
		transform: translateY(-7%);
	}
	70% {
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes blur-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0.01;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

// media queries
@media screen and (max-width: 425px) {
	#header {
		font-size: 25px;
	}
	#img-middle {
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border: 5px solid $border_color_start;
	}
	#img-bottom i {
		font-size: 10px;
		margin: -5px;
	}
	#more-info {
		font-size: 8px;
	}
    body #nav { 
      	width: 250px;
    }
}

// media queries
@media screen and (max-height: 425px) {
	#header {
		font-size: 20px;
	}
	#img-middle {
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		border: 2px solid $border_color_start;
	}
	#img-bottom i {
		font-size: 8px;
		margin: -4px;
	}
	#more-info {
		font-size: 6px;
	}
    body #nav { 
      	width: 150px;
    }
}