@import "phone/iphone.scss";
@import "phone/galaxy.scss";
@import "phone/htc.scss";
@import "tablet/ipad.scss";
@import "tablet/galaxy.scss";
@import "tablet/nexus.scss";
@import "tablet/kindle.scss";
@import "laptop.scss";
@import "sizes.scss";

$font: 'Helvetica Neue',
sans-serif;
$title_font: 4vmax;
$medium_font: 1.5vmax;
$normal_font: 1vmax;

$border_color_start: #e4cdd7;
$border_color_middle: #b06d8a;
$border_color_end: #b06d8a;
$border_width: 1vmax;

$width: 30%;
$top: 50%;
$left: 50%;
html {
	width: 100%;
	height: 100%;
	font: $normal_font $font;
}

a {
	color: $border_color_middle;
}

#title {
	font-size: $title_font;
	font-weight: bold;
	letter-spacing: -0.1vmin;
	line-height: 1;
	text-align: center;
	animation: blur-in 2s 1;
}

#img-middle {
	position: absolute;
	top: $top;
	left: $left;
	@include resizable_elem($width, 0px);
	border: $border_width solid $border_color_start;
	border-radius: 50%;
}

.img-pop-up {
	animation: pop-up 2s 1;
}

#img-bottom {
	position: absolute;
	top: $top;
	left: $left;
	@include resizable_elem($width, $border_width);
	padding: 0;
	margin: 0;
	border-radius: 50%;
	list-style: none;
}

#img-bottom img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2em;
	height: 2em;
	margin: -1em;
	border-radius: 50%;
	&:hover {
		cursor: pointer;
	}
}

.img-blur-in {
	animation: blur-in 2s 1;
}

#more-info {
	position: absolute;
	top: $top;
	left: $left;
	@include resizable_elem($width, 0px);
	border: $border_width solid $border_color_start;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-text {
	text-align: center;
	vertical-align: middle;
	color: black;
	text-decoration: none;
	font-size: $medium_font;
	font-weight: bold;
}

// keyframes
@keyframes pop-up {
	0% {
		transform: translateY(100%);
	}
	35% {
		transform: translateY(-7%);
	}
	70% {
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes blur-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0.01;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

.drip {
	color: $border_color_start;
	text-shadow: 0.5vmin 0.5vmin 0.2vmin black;
}