.notransition {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important; }

html {
  font: 15px "Open Sans Condensed", sans-serif;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e5e6ec; }

#first-page {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: none;
  background-color: white;
  display: table; }

#second-page {
  height: 100%;
  width: 100%;
  height: auto;
  background-color: #8a94dc; }

a {
  text-decoration: none; }

* {
  max-width: 100%;
  max-height: 100%; }

#wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: none; }

.row {
  margin-top: 0.65em;
  position: relative;
  margin-bottom: 0.65em; }

#header {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1;
  margin-top: -0.65em; }

.drip {
  color: #c9c5fd; }

#nav {
  margin: 0 auto;
  width: 400px;
  height: auto; }

#nav:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* ratio of 1:1*/ }

#content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#img-middle {
  width: 90%;
  border: 0.65em solid #8a94dc;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-radius: 50%; }

.img-pop-up {
  -webkit-animation: pop-up 2s 1;
  -moz-animation: pop-up 2s 1;
  -o-animation: pop-up 2s 1;
  -ms-transition: pop-up 2s 1;
  animation: pop-up 2s 1; }

#img-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-radius: 50%;
  list-style: none; }

#img-bottom i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  margin: -0.5em;
  color: #8a94dc;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-radius: 50%;
  cursor: pointer; }

.fa {
  color: black !important; }

.blur-in {
  -webkit-animation: blur-in 2s 1;
  -moz-animation: blur-in 2s 1;
  -o-animation: blur-in 2s 1;
  -ms-transition: blur-in 2s 1;
  animation: blur-in 2s 1; }

#more-info {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0; }

#down-arrow {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 3em;
  height: 3em;
  margin-left: -1.5em;
  margin-right: 1.5em; }

#down-arrow:hover {
  -webkit-filter: drop-shadow(0em 0em 0.3em #8a94dc);
  filter: drop-shadow(0em 1.1em 0em 0.3em #8a94dc);
  cursor: pointer; }

@keyframes pop-up {
  0% {
    transform: translateY(100%); }
  35% {
    transform: translateY(-7%); }
  70% {
    transform: translateY(3%); }
  100% {
    transform: translateY(0%); } }
@keyframes blur-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0.01; }
  100% {
    display: block;
    opacity: 1; } }
@media screen and (max-width: 768px) {
  .drip {
    color: #c9c5fd;
    text-shadow: 0.04em 0.04em 0.015em black; } }
@media screen and (max-height: 768px) {
  .drip {
    color: #c9c5fd;
    text-shadow: 0.02em 0.02em 0.007em black; } }
@media screen and (max-width: 425px) {
  body {
    font-size: 10px; }

  #img-middle {
    width: 90%;
    border: 0.3em solid #8a94dc; }

  body #nav {
    width: 250px; } }
@media screen and (max-height: 425px) {
  body {
    font-size: 10px; }

  #img-middle {
    width: 90%;
    border: 0.15em solid #8a94dc; }

  body #nav {
    width: 150px; } }
@media screen and (max-width: 375px) {
  body {
    font-size: 7.5px; } }

/*# sourceMappingURL=index.css.map */
