/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- Galaxy S4 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- Galaxy S5 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  body #nav {
    width: calc(60%); } }
/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(70%); } }
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(50%); } }
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(70%); } }
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(50%); } }
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  body #nav {
    width: calc(70%); } }
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  body #nav {
    width: calc(50%); } }
/* ----------- Galaxy Tab 10.1 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) {
  body #nav {
    width: calc(70%); } }
/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) {
  body #nav {
    width: calc(50%); } }
/* ----------- Asus Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {
  body #nav {
    width: calc(70%); } }
/* Landscape */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {
  body #nav {
    width: calc(50%); } }
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  body #nav {
    width: calc(70%); } }
/* Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  body #nav {
    width: calc(70%); } }
/* Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  body #nav {
    width: calc(30%); } }
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(70%); } }
@media screen and (max-height: 700px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(70%); } }
@media screen and (max-height: 600px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-width: 200px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-height: 500px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(20%); } }
@media screen and (max-height: 350px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(10%); } }
/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body #nav {
    width: calc(70%); } }
@media screen and (max-height: 700px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body #nav {
    width: calc(70%); } }
@media screen and (max-height: 600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-width: 200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body #nav {
    width: calc(30%); } }
@media screen and (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body #nav {
    width: calc(20%); } }
@media screen and (max-height: 350px) and (-webkit-min-device-pixel-ratio: 1) {
  body #nav {
    width: calc(10%); } }
html {
  display: table;
  width: 100%;
  height: 100%;
  font: 1.5vmin "Helvetica Neue", sans-serif;
  overflow: hidden; }

body {
  display: table-row;
  width: 100%;
  height: 100%; }

* {
  max-width: 100%;
  max-height: 100%; }

#wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow-x: auto; }

.row {
  margin-top: 5%;
  position: relative;
  margin-bottom: 5%; }

#header {
  display: inline-block;
  font-size: 5.5vmin;
  font-weight: bold;
  letter-spacing: -0.1vmin;
  line-height: 1;
  animation: blur-in 2s 1; }

.drip {
  color: #e4cdd7;
  text-shadow: 0.5vmin 0.5vmin 0.2vmin black; }

#nav {
  margin: 0 auto;
  width: calc(30%); }

#nav:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/ }

#content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#img-middle {
  width: 100%;
  height: 100%;
  border: 1vmin solid #e4cdd7;
  border-radius: 50%; }

.img-pop-up {
  animation: pop-up 2s 1; }

#img-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  list-style: none; }

#img-bottom img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2vmin;
  height: 2vmin;
  margin: -1vmin;
  border-radius: 50%; }

.blur-in {
  animation: blur-in 2s 1; }

#more-info {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.5vmin; }

@keyframes pop-up {
  0% {
    transform: translateY(100%); }
  35% {
    transform: translateY(-7%); }
  70% {
    transform: translateY(3%); }
  100% {
    transform: translateY(0%); } }
@keyframes blur-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0.01; }
  100% {
    display: block;
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */
