@import 'functions';
@import 'variables';

html {
	font: $normal_font $font;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background: $background;
}

#first-page {
	min-height: 100%;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: none;
	background-color: white;
	display: table;
}

#second-page {
	width: 100%;
	background-color: $light;
}

#third-page {
	width: 100%;
	background-color: $light;
	text-align: center;
}

#fourth-page {
	width: 100%;
	background-color: $light;
}

.title {
	float: left;
	position: relative;
	display: inline-block;
	margin-top: 5%;
	padding: 2em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

	span {
		font-weight: bold;
		font-size: 3*$title_font/4;
		color: $dark;

		&:before {
			content: "";
			background-color: $dark_accent;
			display: block;
			height: .3em;
		}
	}
}

a {
	text-decoration: none;
}

#wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.myRow {
	margin-top: $border_width;
	position: relative;
	margin-bottom: $border_width;
}

#header {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: $title_font;
	font-weight: bold;
	letter-spacing: -0.01em;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0;
	color: $dark;
	padding-bottom: .5em;
}

.drip {
	text-shadow: -1px 1px 0 $light, 1px -1px 0 $dark_accent;
	color: $dark;
}

#nav {
	margin: 0 auto;
	width: $width;
	height: auto;
}

#nav:before {
	content: "";
	display: block;
	padding-top: 100%;
	/* ratio of 1:1*/
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#img-middle {
	width: 90%;
	border: $border_width solid $dark_accent;
	@include border_radius();
}

.img-pop-up {
	@include animation(pop-up 2s 1);
}

#img-bottom {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	@include border_radius();
	list-style: none;

	i {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: $icon_font;
		margin: -$icon_font/3;

		color: $dark;

		@include border_radius();
		cursor: pointer;
	}
}

.blur-in {
	@include animation(blur-in 2s 1);
}

#info,
#more-info {
	color: $dark;
	text-decoration: none;
	font-size: $small_font;
	margin-bottom: 0;
}

#info {
	font-weight: bold;
}

#more-info {
	margin-top: 0;
}

.down-arrow {
	display: block;
	position: absolute;
	left: 50%;
	bottom: -1em;
	width: $date_size/2;
	height: $date_size/2;
	margin-left: -$date_size/4;
	margin-right: $date_size/4;
	cursor: pointer;
}

#down-arrow:hover {
	-webkit-filter: drop-shadow(0em 0em 0.3em $light);
	filter: drop-shadow(0em 1.1em 0em 0.3em $light);
	cursor: pointer;
}

// keyframes
@keyframes pop-up {
	0% {
		transform: translateY(100%);
	}

	35% {
		transform: translateY(-7%);
	}

	70% {
		transform: translateY(3%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes blur-in {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0.01;
	}

	100% {
		display: block;
		opacity: 1;
	}
}


// media queries
@media screen and (max-device-width: 768px) {
	#info, 
	#more-info {
		font-size: $big_font;
	}
}

@media screen and (max-device-width: 480px) {
	body {
		-webkit-text-size-adjust: none;
	}
}

@media screen and (max-width: 475px) {
	body {
		font-size: 2*$normal_font/3;
	}

	#img-middle {
		width: 90%;
		border: 0.3em solid $dark_accent;
	}

	body #nav {
		width: 250px;
	}
}

@media screen and (max-height: 425px) {
	body {
		font-size: 2*$normal_font/3;
	}

	#img-middle {
		width: 90%;
		border: 0.15em solid $dark_accent;
	}

	body #nav {
		width: 150px;
	}
}

@media screen and (max-width: 375px) {
	body {
		font-size: $normal_font/2;
	}
}