/* line 4, /Users/teo/Documents/Repos/Website/css/index.scss */
html {
  display: table;
  font: 14px "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 14, /Users/teo/Documents/Repos/Website/css/index.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E8E8E8; }

/* line 22, /Users/teo/Documents/Repos/Website/css/index.scss */
#first-page {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: none;
  background-color: white; }

/* line 30, /Users/teo/Documents/Repos/Website/css/index.scss */
#second-page {
  width: 100%;
  height: auto;
  background-color: #E8E8E8; }

/* line 36, /Users/teo/Documents/Repos/Website/css/index.scss */
a {
  text-decoration: none; }

/* line 40, /Users/teo/Documents/Repos/Website/css/index.scss */
* {
  max-width: 100%;
  max-height: 100%; }

/* line 45, /Users/teo/Documents/Repos/Website/css/index.scss */
#wrapper {
  margin-top: 0;
  float: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: none;
  width: 100%;
  height: 100%; }

/* line 57, /Users/teo/Documents/Repos/Website/css/index.scss */
.row {
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px; }

/* line 63, /Users/teo/Documents/Repos/Website/css/index.scss */
#header {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -0.1px;
  line-height: 1;
  -webkit-animation: blur-in 2s 1;
  -moz-animation: blur-in 2s 1;
  -o-animation: blur-in 2s 1;
  -ms-transition: blur-in 2s 1;
  animation: blur-in 2s 1; }

/* line 72, /Users/teo/Documents/Repos/Website/css/index.scss */
.drip {
  color: #e4cdd7;
  text-shadow: 1px 1px 0.5px black; }

/* line 77, /Users/teo/Documents/Repos/Website/css/index.scss */
#nav {
  margin: 0 auto;
  width: 400px;
  height: auto; }

/* line 83, /Users/teo/Documents/Repos/Website/css/index.scss */
#nav:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* ratio of 1:1*/ }

/* line 89, /Users/teo/Documents/Repos/Website/css/index.scss */
#content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* line 97, /Users/teo/Documents/Repos/Website/css/index.scss */
#img-middle {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 10px solid #e4cdd7;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-radius: 50%; }

/* line 104, /Users/teo/Documents/Repos/Website/css/index.scss */
.img-pop-up {
  -webkit-animation: pop-up 2s 1;
  -moz-animation: pop-up 2s 1;
  -o-animation: pop-up 2s 1;
  -ms-transition: pop-up 2s 1;
  animation: pop-up 2s 1; }

/* line 108, /Users/teo/Documents/Repos/Website/css/index.scss */
#img-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-radius: 50%;
  list-style: none; }

/* line 120, /Users/teo/Documents/Repos/Website/css/index.scss */
#img-bottom i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  margin: -10px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-radius: 50%;
  cursor: pointer; }

/* line 131, /Users/teo/Documents/Repos/Website/css/index.scss */
.fa {
  color: black !important; }

/* line 135, /Users/teo/Documents/Repos/Website/css/index.scss */
.blur-in {
  -webkit-animation: blur-in 2s 1;
  -moz-animation: blur-in 2s 1;
  -o-animation: blur-in 2s 1;
  -ms-transition: blur-in 2s 1;
  animation: blur-in 2s 1; }

/* line 139, /Users/teo/Documents/Repos/Website/css/index.scss */
#more-info {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 0; }

/* line 147, /Users/teo/Documents/Repos/Website/css/index.scss */
#down-arrow {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 37.5px;
  height: 37.5px; }

/* line 156, /Users/teo/Documents/Repos/Website/css/index.scss */
#down-arrow:hover {
  color: blue;
  cursor: pointer; }

@keyframes pop-up {
  0% {
    transform: translateY(100%); }
  35% {
    transform: translateY(-7%); }
  70% {
    transform: translateY(3%); }
  100% {
    transform: translateY(0%); } }

@keyframes blur-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0.01; }
  100% {
    display: block;
    opacity: 1; } }

@media screen and (max-width: 425px) {
  /* line 194, /Users/teo/Documents/Repos/Website/css/index.scss */
  #header {
    font-size: 25px; }
  /* line 197, /Users/teo/Documents/Repos/Website/css/index.scss */
  #img-middle {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 5px solid #e4cdd7; }
  /* line 202, /Users/teo/Documents/Repos/Website/css/index.scss */
  #img-bottom i {
    font-size: 10px;
    margin: -5px; }
  /* line 206, /Users/teo/Documents/Repos/Website/css/index.scss */
  #more-info {
    font-size: 8px; }
  /* line 209, /Users/teo/Documents/Repos/Website/css/index.scss */
  body #nav {
    width: 250px; } }

@media screen and (max-height: 425px) {
  /* line 216, /Users/teo/Documents/Repos/Website/css/index.scss */
  #header {
    font-size: 20px; }
  /* line 219, /Users/teo/Documents/Repos/Website/css/index.scss */
  #img-middle {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #e4cdd7; }
  /* line 224, /Users/teo/Documents/Repos/Website/css/index.scss */
  #img-bottom i {
    font-size: 8px;
    margin: -4px; }
  /* line 228, /Users/teo/Documents/Repos/Website/css/index.scss */
  #more-info {
    font-size: 6px; }
  /* line 231, /Users/teo/Documents/Repos/Website/css/index.scss */
  body #nav {
    width: 150px; } }

/*# sourceMappingURL=index.css.map */