@import "sizes.scss";

$width: 30%;
$width_portrait: 70%;
$width_landscape: 50%;

$border: 1vmax;

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body #img-middle, body #more-info {
      @include resizable_elem($width, 0px);
    }
    body #img-bottom {
      @include resizable_elem($width, $border);
    }
}

@media screen
  and (max-width: 800px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body #img-middle, body #more-info {
      @include resizable_elem(70%, 0px);
    }
    body #img-bottom {
      @include resizable_elem($width_portrait, $border);
    }
}

@media screen
  and (max-height: 400px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body #img-middle, body #more-info {
      @include resizable_elem($width_landscape, 0px);
    }
    body #img-bottom {
      @include resizable_elem($width_landscape, $border);
    }
}

@media screen
  and (max-height: 200px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body #img-middle, body #more-info {
      @include resizable_elem($width, 0px);
    }
    body #img-bottom {
      @include resizable_elem($width, $border);
    }
}


/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #img-middle, body #more-info {
      @include resizable_elem($width, 0px);
    }
    body #img-bottom {
      @include resizable_elem($width, $border);
    }
}

@media screen
  and (max-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #img-middle, body #more-info {
      @include resizable_elem($width_portrait, 0px);
    }
    body #img-bottom {
      @include resizable_elem(70%, $border);
    }
}

@media screen
  and (max-height: 400px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #img-middle, body #more-info {
      @include resizable_elem($width_landscape, 0px);
    }
    body #img-bottom {
      @include resizable_elem($width_landscape, $border);
    }
}

@media screen
  and (max-height: 200px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #img-middle, body #more-info {
      @include resizable_elem($width, 0px);
    }
    body #img-bottom {
      @include resizable_elem($width, $border);
    }
}