@import "sizes.scss";

$width: 30%;
$width_portrait: 70%;
$width_landscape: 50%;

$border: 1vmax;

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}


@media screen
  and (max-width: 800px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body #nav { 
      	@include resizable_elem($width_landscape);
    }
}

@media screen
  and (max-width: 400px)
   and (-webkit-min-device-pixel-ratio: 1) {
    body #nav { 		
      	@include resizable_elem($width_portrait);
    }
}

@media screen
  and (max-width: 200px)
   and (-webkit-min-device-pixel-ratio: 1) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}

@media screen
  and (max-height: 800px)
   and (-webkit-min-device-pixel-ratio: 1) {
    body #nav {
      @include resizable_elem($width);
    }
}

@media screen
  and (max-height: 400px)
   and (-webkit-min-device-pixel-ratio: 1) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}

@media screen
  and (max-height: 200px)
   and (-webkit-min-device-pixel-ratio: 1) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}


/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}

@media screen
  and (max-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #nav {
      	@include resizable_elem($width_landscape);
    }
}

@media screen
  and (max-width: 400px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #nav { 		
      	@include resizable_elem($width_portrait);
    }
}

@media screen
  and (max-width: 200px)
   and (-webkit-min-device-pixel-ratio: 1) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}

@media screen
  and (max-height: 700px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}


@media screen
  and (max-height: 600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body #nav { 		
      	@include resizable_elem($width);
    }
}