@import 'variables';
@import 'functions';

$time: 0.5s;

#title-skills {
    span {
        text-transform: uppercase;

        &:before{
            width: 29px;
            height: .27em;
        }
    }
}

#skills {    
    width: 100%;
    display: inline-block;
    height: 80%;
    padding-left: 0;
    position: relative;

    .skill-card {
        display: inline-block;
        margin: 2rem;
        width: 20vw;
        height: 270px;
        background-color: #FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        cursor: pointer;

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

            .skill-card__header {
                height: 60px;

                .skill-card__icon {
                    -webkit-transform: translateX(-50%) translateY(-50%) scale(3);
                    transform: translateX(-50%) translateY(-50%) scale(3);
                }
            }

            .skill-card__body {
                height: 170px;

                .skill-card__knowledge li {
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
                    transition-duration: $time;

                    .skill-card__knowledge-list {
                        margin: 0;
                        padding-left: 1em;
                        list-style: none;
                    }
                }
            }
        }

        .skill-card__header {
            position: relative;
            height: 190px;
            transition: height $time;
            overflow: hidden;

            .skill-card__icon {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
                display: block;
                width: 128px;
                height: 128px;
                transition: transform $time, -webkit-transform $time;
            }
        }

        .skill-card__body {
            height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: height $time;
            overflow: hidden;

            .skill-card__title {
                margin: 0;
                font-size: 1.25em;
                text-transform: uppercase;

                font-family: 'Montserrat', sans-serif;
                color: $dark_accent;
            }

            .skill-card__duration {
                color: $dark;
                font-style: italic;
                font-weight: bold;
            }

            .skill-card__knowledge {
                text-align: left;
                margin-top: 10px;
                color: $dark;
                font-size: .95em;
                list-style: none;
            }

            .skill-card__knowledge li {
                margin-top: 0;
                transition-duration: 0;
                transition-delay: $time;
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }
    }
}

//media queries
@media screen and (max-width: 475px) {
    #skills {
        .skill-card {
            display: inline-flex;
            margin: .5rem;
            margin-bottom: 1rem;
            width: 41vw;
            height: 135px;
            
            .skill-card__header {
                left: 5px;
                transition: none;
                height: 50px;
                width: 50px;

                .skill-card__icon {
                    width: 100%;
                    height: auto;
                }
            }

            .skill-card__body {
                transition: none;
                background-color: transparent;
                height: fit-content;

                .skill-card__title {
                    margin-bottom: 0;
                    background-color: transparent;
                    color: $dark;
                    box-shadow: none;
                    text-align: left;
                    padding-left: 1em;
                }

                .skill-card__duration {
                    color: lighten($dark, 40%);
                    padding-left: 1.5em;
                    width: 100%;
                    text-align: left;
                    float: left;
                }

                .skill-card__knowledge {
                    display: inline-table;
                    font-size: 1.25em;
                    float: left;
                    padding-left: 2em;

                    li {
                        margin: 0;
                        transform: none;
                        -webkit-transform: none;
                        transition: none;
                        position: relative;
                        // height: 25px;

                        .skill-card__knowledge-list {
                            position: absolute;
                            top: 0;
                            margin: 0;
                            // margin-top: -12px;
                            padding-left: 2em;
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    #skills {
        .skill-card {
            height: 100px;
        }
    }
}