.notransition {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important; }

#timeline {
  float: left;
  clear: left;
  position: relative;
  padding: 2rem;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #e5e6ec; }
  #timeline::before {
    content: '';
    position: absolute;
    top: 1%;
    left: 50%;
    height: 99%;
    width: 0.25em;
    background-color: #8a94dc; }

.block-timeline {
  position: relative;
  margin: 2em 0;
  width: 100%;
  overflow: hidden; }
  .block-timeline:first-child {
    margin-top: 0; }
  .block-timeline:last-child {
    margin-bottom: 0; }

#title-timeline {
  text-align: center;
  float: none; }
  #title-timeline span:before {
    width: 30px;
    display: block;
    height: .3em; }

.date-timeline {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3em;
  margin-top: 3em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 0.25em #8a94dc, inset 0 0.12em 0 rgba(0, 0, 0, 0.08), 0 0.2em 0 0.25em rgba(0, 0, 0, 0.05);
  text-align: center; }
  .date-timeline::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .date-timeline span {
    font-weight: bold; }

.content-timeline {
  visibility: inherit;
  position: relative;
  margin-top: 3em;
  margin-left: 1.5em;
  width: 40%;
  background-color: white;
  box-shadow: 0 0.2em 0 #e6e6e6; }
  .content-timeline h2 {
    font-family: 'Montserrat', sans-serif;
    color: #424242; }
  .content-timeline .right-icon,
  .content-timeline .left-icon {
    color: white !important;
    margin: .5em; }
  .content-timeline::before {
    content: '';
    position: absolute;
    top: 3em;
    left: 100%;
    height: 0;
    width: 0;
    border: 0.45em solid transparent;
    border-left: 0.45em solid #8a94dc; }
  .block-timeline:nth-child(even) .content-timeline {
    float: right;
    margin-left: 0;
    margin-right: 1.5em; }
    .block-timeline:nth-child(even) .content-timeline::before {
      content: '';
      top: 3em;
      right: 100%;
      left: auto;
      width: 0em;
      height: 0em;
      border-color: transparent;
      border-right-color: #8a94dc; }
    .block-timeline:nth-child(even) .content-timeline #section-timeline {
      text-align: left; }
      .block-timeline:nth-child(even) .content-timeline #section-timeline span {
        display: inline-block; }

.is-hidden {
  visibility: hidden; }

.bounce-in {
  visibility: visible;
  animation: bounce-in 0.6s; }

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  60% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
#section-timeline {
  width: 100%;
  margin-top: 0;
  background: #8a94dc;
  padding-top: 1em;
  text-align: right;
  padding-bottom: 1em; }
  #section-timeline span {
    font-size: 1em;
    padding-right: 1em;
    display: inline-block; }

.description-timeline {
  display: inline-block;
  font-size: 1.25em;
  margin: 1em;
  line-height: 1.6; }

@media screen and (max-width: 768px) {
  #timeline {
    padding: 0; }
    #timeline::before {
      left: 17.4%; }

  .content-timeline {
    width: 65%;
    margin-left: 0;
    margin-right: 1.5em; }
    .block-timeline:nth-child(odd) .content-timeline {
      float: right; }
      .block-timeline:nth-child(odd) .content-timeline::before {
        content: '';
        top: 3em;
        right: 100%;
        left: auto;
        width: 0em;
        height: 0em;
        border-color: transparent;
        border-right-color: #8a94dc; }
      .block-timeline:nth-child(odd) .content-timeline #section-timeline {
        text-align: left; }
        .block-timeline:nth-child(odd) .content-timeline #section-timeline span {
          display: inline-block; }

  .date-timeline {
    position: absolute;
    top: 0;
    left: 17.5%;
    color: #424242; } }
@media screen and (max-width: 475px) {
  #timeline::before {
    left: 21.5%; }

  .date-timeline span {
    font-size: .75em; } }
@media screen and (max-width: 425px) {
  #timeline::before {
    left: 17%;
    width: 0.25em; }

  #section-timeline span {
    margin-left: 10px; }
  #section-timeline i {
    display: none; } }
@media screen and (max-width: 375px) {
  #section-timeline span {
    padding: 0;
    display: inline-block; }

  #timeline::before {
    left: 17%; } }
@media screen and (max-width: 360px) {
  #timeline::before {
    left: 17.5%; } }
@media screen and (max-width: 320px) {
  #timeline::before {
    left: 17.5%; } }

/*# sourceMappingURL=timeline.css.map */
