//$font: 'Helvetica Neue', sans-serif;
$font: 'Open Sans Condensed', sans-serif;

$icon_font: 1.5em;
$normal_font: 15px;
$title_font: 4em;
    
// pink
// $light_accent: #e4cdd7;
// $dark_accent: #b06d8a;
// $background: #f6eef2;

// purple blue (!)
$light_accent: #c9c5fd;
$dark_accent: #8a94dc;
$background: #e5e6ec;
$dark: #424242;

// blue
// $light_accent: #9CC3D5;
// $dark_accent: #0063B2;
// $background: #e5e6ec;

// gray and purple
// $light_accent: #C7D3D4;
// $dark_accent: #603F83;
// $background: #e5e6ec;

// other (pink and navy)
// $light_accent: #333D79;
// $dark_accent: #FAEBEF ;
// $background: #e5e6ec;

// other (all reds)
// $light_accent: #DD4132;
// $dark_accent: #9E1030;
// $background: #e5e6ec;

// oranges
// $light_accent: #FFBE7B;
// $dark_accent: #FFA351;
// $background: #EED971;

// pale grens and blues
// $light_accent: #A8D5BA;
// $dark_accent: #ABD6DF;
// $background: #E7EBE0;

// dark greens
// $light_accent: #95DBE5;
// $dark_accent: #078282;
// $background: #FCF6F5;

$border_width: 0.65em;

$box_color: white; // #c9c5fd;

$width: 400px;

$date_size: 6em;

.notransition {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}