$font: 'Open Sans Condensed', sans-serif;

$icon_font: 1.5em;
$normal_font: 15px;
$title_font: 4em;

$huge_font: 2em;
$big_font: 1.75em;
$medium_font: 1.5em;
$small_font: 1.25em;
$smaller_font: 1em;
$tiny_font: .75em;

// pink
// $dark_accent: #e4cdd7;
// $light: #b06d8a;
// $background: #f6eef2;

// purple
$dark_accent: #8a94dc;
$light: #e5e6ec;
$background: #e5e6ec;
$light_accent: #c9c5fd;
$dark: #424242;

// blue
// $dark_accent: #9CC3D5;
// $light: #0063B2;
// $background: #e5e6ec;

// gray and purple
// $dark_accent: #C7D3D4;
// $light: #603F83;
// $background: #e5e6ec;

// other (pink and navy)
// $dark_accent: #333D79;
// $light: #FAEBEF ;
// $background: #e5e6ec;

// other (all reds)
// $dark_accent: #DD4132;
// $light: #9E1030;
// $background: #e5e6ec;

// oranges
// $dark_accent: #FFBE7B;
// $light: #FFA351;
// $background: #EED971;

// pale grens and blues
// $dark_accent: #A8D5BA;
// $light: #ABD6DF;
// $background: #E7EBE0;

// dark greens
// $dark_accent: #95DBE5;
// $light: #078282;
// $background: #FCF6F5;

$border_width: 0.65em;

$box_color: white; // #c9c5fd;

$width: 400px;

$date_size: 6em;

.notransition {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}