@import "../sizes.scss";

$width_portrait: 70%;
$width_landscape: 50%;

$border: 1vmax;

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {
    // nothing
}

/* Portrait */
@media
  (max-device-width: 800px)
  and (orientation: portrait) {
    body #nav { 		
      	@include resizable_elem($width_portrait, 0px);
    }
}

/* Landscape */
@media
  (max-device-width: 1280px)
  and (orientation: landscape) {
    body #nav { 		
      	@include resizable_elem($width_landscape, 0px);
    }
}
