@import "../sizes.scss";

$width_portrait: 60%;
$width_landscape: 30%;

$border: 1vmax;

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    // nothing
}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    body #nav { 		
      	@include resizable_elem($width_portrait);
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    body #nav { 		
      	@include resizable_elem($width_landscape);
    }
}
